<div class="list-group list-group-flush">
  <a href="{% url 'dashboard' %}" class="list-group-item list-group-item-action">Tableau de bord</a>
  <a href="{% url 'associations_liste' %}" class="list-group-item list-group-item-action">Associations</a>
  <a href="{% url 'affiliations_liste' %}" class="list-group-item list-group-item-action">Affiliations</a>
  <a href="{% url 'cotisations_liste' %}" class="list-group-item list-group-item-action">Cotisations</a>
  <a href="{% url 'personnes_liste' %}" class="list-group-item list-group-item-action">Personnes</a>
  <a href="{% url 'beneficiaires_liste' %}" class="list-group-item list-group-item-action">Bénéficiaires</a>
  <a href="{% url 'rapatriements_liste' %}" class="list-group-item list-group-item-action">Rapatriements</a>
  <a href="{% url 'activites_liste' %}" class="list-group-item list-group-item-action">Activités culturelles</a>
  <a href="{% url 'transactions_liste' %}" class="list-group-item list-group-item-action">Transactions</a>
  <a href="{% url 'documents_liste' %}" class="list-group-item list-group-item-action">Documents</a>
</div>