{% extends "public/base_public.html" %}
{% block title %}Contact{% endblock %}
{% load i18n %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-7">
    <div class="card border-0 shadow-sm">
      <div class="card-body p-4">
        <h1 class="h3 mb-3">{%trans "Contact" %}</h1>
        <p class="text-muted">{%trans "Envoyez un message à la fédération."%}</p>

        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}

          <button class="btn btn-primary">
            {%trans "Envoyer"%}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}